.featuresSection {
    padding: 80px 0;
    background-color: #f8faff;
    overflow: hidden;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
}

.heading {
    color: var(--secondary-color);
    font-weight: var(--font-600);
    margin-bottom: 30px;
}

.description {
    color: #0c0c0c;
    margin-bottom: 20px;
    font-weight: var(--font-400);
}

.description:last-of-type {
    margin-bottom: 45px;
}

.statsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: relative;
}

.statBox {
    position: relative;
    padding-right: 15px;
    text-align: center;
}

.statBox:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 15%;
    height: 70%;
    width: 1px;
    background-color: #cbd5e1;
}

.statNumber {
    font-size: 30px;
    font-weight: var(--font-600);
    color: var(--secondary-color);
    margin-bottom: 8px;
    font-variant-numeric: tabular-nums;
}

.statLabel {
    font-size: 14px;
    color: var(--secondary-color);
    margin: 0;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mockupContainer {
    position: relative;
    width: 100%;
    max-width: 454px;
    height: auto;
}

.mainImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1399px) {
    .featuresSection {
        padding: 60px 0;
    }

    .heading {
        margin-bottom: 20px;
    }

    .description {
        margin-bottom: 10px;
    }

    .description:last-of-type {
        margin-bottom: 20px;
    }

    .statsGrid {
        gap: 15px;
    }

    .statNumber {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .mockupContainer {
        max-width: 380px;
    }
}

@media screen and (max-width: 1199px) {
    .featuresSection {
        padding: 40px 0;
    }

    .statsGrid {
        gap: 10px;
    }

    .statBox {
        padding-right: 8px;
    }

    .statNumber {
        margin-bottom: 0px;
        font-size: 22px;
    }

    /* .statBox::after {
        display: none;
    } */

    .mockupContainer {
        max-width: 320px;
    }
}

@media screen and (max-width: 991px) {
    .contentWrapper {
        align-items: center;
        text-align: center;
    }

    .heading {
        width: 450px;
    }

    .statBox {
        padding: 0;
        width: 150px;
    }

    .imageWrapper {
        margin-top: 25px;
    }

    .mockupContainer {
        max-width: 300px;
    }
}

@media screen and (max-width: 991px) {
    .heading {
        margin-bottom: 10px;
    }

    .statBox {
        width: 130px;
    }
}

@media screen and (max-width: 575px) {
    .heading {
        width: 100%;
    }

    .statsGrid {
        gap: 10px 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .statBox {
        width: 150px;
    }

    .statBox:nth-child(even)::after {
        display: none;
    }

    .mockupContainer {
        max-width: 250px;
    }
}