.awardsSec {
    padding: 80px 0;
    background-color: var(--light-color);
    overflow: hidden;
}

.header {
    text-align: center;
    margin-bottom: 60px;
}

.heading {
    color: var(--secondary-color);
    margin-top: 15px;
}

.desc {
    color: var(--accent-color);
    margin-top: 15px;
}

.marqueeContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
}

.marqueeContent {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.marqueeContainer:hover .marqueeContent {
    animation-play-state: paused;
}

.awardItem {
    width: 173px;
    flex-shrink: 0;
    margin: 0 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.awardItem:hover {
    transform: translateY(-5px);
}

.awardImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1399px) {
    .awardsSec {
        padding: 60px 0;
    }

    .header {
        margin-bottom: 30px;
    }

    .heading {
        margin-top: 10px;
    }

    .desc {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1199px) {
    .awardsSec {
        padding: 40px 0;
    }

    .awardItem {
        width: 160px;
        height: 160px;
        margin: 0 12px;
    }
}

@media screen and (max-width: 991px) {
    .heading {
        letter-spacing: -1px;
    }

    .desc br {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .awardItem {
        width: 140px;
        height: 140px;
        margin: 0 10px;
    }
}
