:root {
  /* Colors */
  --primary-color: #E76B2B;
  --secondary-color: #0E2544;
  --accent-color: #0C0C0C;
  --light-color: #fff;
  --dark-color: #000;
  --gray-color: #F5F5F5;
  --recognition-box-bg: #F3F3F3;
  --bg-color: #0E1B32;

  /* Typography */
  --font-base: var(--font-asta-sans);
  --font-size-base: 16px;
  --font-size-lg: 65px;
  --font-size-sm: 14px;

  /* Font Weight */
  --font-100: 100;
  --font-200: 200;
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;
  --font-800: 800;
  --font-900: 900;

  /* Transition */
  --cubic: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
span,
input,
textarea,
select {
  font-family: var(--font-base), sans-serif;
}

body {
  font-size: var(--font-size-base);
  color: var(--dark-color);
}

.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

.combo_btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.btn {
  transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  border-radius: 8px;
  color: var(--light-color);
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.34px;
  cursor: pointer;
  z-index: 1;
}

.btn-primary-custom {
  background: var(--primary-color);
  color: var(--light-color);
  border: none;
}

.btn-primary-custom::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
  z-index: -1;
}

.btn-primary-custom:hover::before {
  top: 0;
}

.btn-primary-custom:hover {
  color: var(--light-color);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-outline-custom {
  background: transparent;
  color: var(--light-color);
  border: 2px solid var(--light-color);
}

.btn-outline-custom::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light-color);
  transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
  z-index: -1;
}

.btn-outline-custom:hover::before {
  top: 0;
}

.btn-outline-custom:hover {
  color: var(--secondary-color) !important;
  transform: translateY(-3px);
}

.btn,
.btn-check:focus+.btn,
.btn:focus {
  box-shadow: none;
  outline: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

h1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-light);
}

h2 {
  font-size: 50px;
  font-weight: var(--font-500);
  letter-spacing: -2px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.primary-text {
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.scroll_block {
  overflow: auto;
  padding-right: 10px
}

.scroll_block::-webkit-scrollbar {
  width: 1px
}

.scroll_block::-webkit-scrollbar-track {
  background: transparent;
}

.scroll_block::-webkit-scrollbar-thumb {
  background: transparent
}

.sec_padding {
  padding: 80px 0;
}

.subHeading {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary-color);
  font-size: 19px;
  line-height: 20px;
  font-weight: var(--font-500);
  margin-bottom: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
  animation: blink 1.2s infinite ease-in-out;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

@media screen and (max-width:1399px) {
  :root {
    /* Typography */
    --font-size-base: 16px;
    --font-size-lg: 50px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -2px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 18px;
  }
}

@media screen and (max-width:1199px) {
  :root {
    /* Typography */
    --font-size-base: 14px;
    --font-size-lg: 45px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
  }

  h2 {
    font-size: 35px;
  }

  /* .subHeading {
    font-size: 16px;
  } */

  .subHeading {
    font-size: 16px;
  }

}

@media screen and (max-width:991px) {
  :root {
    /* Typography */
    --font-size-lg: 35px;
  }

  .btn {
    padding: 10px 20px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }
}

@media screen and (max-width:767px) {
  :root {
    /* Typography */
    --font-size-lg: 25px;
  }

  h2 {
    font-size: 25px;
    letter-spacing: 0px;
  }

  .subHeading {
    justify-content: center;
  }

  .combo_btn {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}