.Recognition_Sec {
    padding: 60px 0;
    background-color: var(--light-color);
}

.Recognition_Sec :global(.subHeading) {
    justify-content: center;
}

.heading {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 40px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.box {
    background: var(--recognition-box-bg);
    text-align: center;
    border-radius: 11px;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: 100%;
    padding: 30px 40px;
    transition: all .3s;
    display: flex;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.iconWrapper {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.boxTitle {
    font-weight: var(--font-600);
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.boxDesc {
    font-size: 15px;
    color: var(--accent-color);
    margin: 0;
}

.sliderWrapper {
    display: none;
}

@media screen and (max-width:1600px) {
    .Recognition_Sec {
        padding: 60px 0;
    }
}

@media screen and (max-width:1399px) {
    .box {
        padding: 30px 20px;
    }
}

@media screen and (max-width:1199px) {
    .Recognition_Sec {
        padding: 40px 0;
    }

    .box {
        padding: 20px 15px;
    }

    .boxDesc {
        font-size: 14px;
    }

    .grid {
        gap: 20px;
    }

    .Recognition_Sec :global(.subHeading) {
        font-size: 16px;
    }
}

@media screen and (max-width:991px) {
    .boxDesc {
        font-size: 14px;
    }

    .grid {
        display: none;
    }

    .sliderWrapper {
        display: block;
    }
}